/* font family */

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* banner styles */

.banner {
    height: 809px;
    width: 1350px;
    text-align: right;
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    position: relative;
}

.banner-section {
    position: absolute;
    margin-top: 200px;
    margin-right: 200px;
    margin-left: 700px;
}

.banner-title {

    font-size: 65px;
    font-weight: 700;
    text-align: right;
}

.banner-description {
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 32px;
}

.buttton {
    height: 64px;
    width: 180px;
    border-radius: 5px;
    background: #F15B22;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    padding: 20px 25px;
}

/* mid section */
.failure {
    margin-top: 150px;
    margin-right: 200px;
    margin-left: 180px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-around;
}

.failure-title {
    font-size: 45px;
    font-weight: 700;
}

.failure-container {
    margin-left: 87px;
}

.failure-spans {
    margin-top: 16px;
}

i {
    color: #16D887;
}

.spans {
    font-size: 16px;
    color: #444343;
    display: block;
}

/* about me section */
.dream-big{
    background-image: url('../images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    margin-top: 130px;
}
.half-width{
    width: 100%;
    padding-left: 2%;
}
.half-width-title{
    font-size: 30px;
    font-family: 600;
    color: #444343;
}
.half-width-paragraph{
    margin-bottom: 50px;
    font-size: 16px;
    color: #737272;
}
.link-button{
    height: 64px;
    width: 160px;
    border-radius: 5px;
    background: #F15B22;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    padding: 20px 25px;
}

.about-me {
    margin-top: 150px;
}

.about-me-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.about-me-img {
    height: 50%;
    width: 250px;

}

.about-me-description {
    display: flex;
    align-items: center;
}

/* plans section */
.my-plans {
    text-align: center;
    margin-top: 130px;
}

.plan-container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;

}

.plan-title {
    font-size: 30px;
    font-weight: 700;
    color: #151414;
    margin-top: 30px;
    margin-bottom: 16px;
}

.plan-description {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

/* gradient section */
.grad {
    margin-top: 150px;
}

.gradient-section {
    margin: 20px 150px;
    height: 300px;
    background-image: url('../images/gradient2.png'), url('../images/watch.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left right, left right;
    background-size: cover, cover;
    border-radius: 10px;
    position: relative;
}

.gradient {
    top: 65px;
    position: absolute;
    left: 60px;
    color: aliceblue;
}

.gradient-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.button-2 {
    height: 64px;
    width: 160px;
    border-radius: 5px;
    background: #FFFFFF;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    padding: 20px 25px;
}

/* footer styles */
.footer-form {
    display: flex;
    justify-content: space-between;
}

.footer {
    position: absolute;
    height: 575px;
    width: 1350px;
    background-color: #151414;
    margin-top: 130px;
}

.future {
    color: white;
    margin: 130px 400px 130px 230px;
}

.future-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.future-description {
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.email {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 16px;
}

.phone {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 32px;
}

.subscribe-form {
    margin-top: 130px;
    margin-right: 250px;
}

.subscribe-title {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
}

#email-form {
    position: absolute;
    width: 280px;
    height: 50px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #151414;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding-left: 21px;
    margin-bottom: 16px;
}

.button-3 {
    margin-top: 65px;
    height: 60 px;
    width: 150px;
    border-radius: 8px;
    background: #FFFFFF;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    padding: 15px 20px;
}